<div class="container-fluid">
    <div class="row align-items-center text-center">
        <div class="col-3"></div>
        <div class="col-6 border m-3 p-5 card" style="border-radius: 1rem;">
        <h1 class="display-3 m-2 border bg-info">Billing</h1>
        <h3 class="text-success">{{ planService.getPlan().planDescription }} = ${{ plan }}</h3>
        <h4>+</h4>
        <h3 class="text-warning">{{ planService.getPlan1().planDescription }} = ${{ plan1 }}</h3>
        <h4>+</h4>
        <h3 class="text-info">{{ planService.getPlan().planDescription }} = ${{ plan2 }}</h3>
        <h4>=</h4>
        <h2 class="text-primary">Estimated Total Bill: {{ bill }}</h2>
        </div>
        <div class="col-3"></div>
    </div>
</div>
